<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="">
	<meta name="description" content="">

	<title>Snapshot HTML CSS Web Template</title>
<!--
Snapshot Template
http://www.templatemo.com/tm-493-snapshot

Zoom Slider
https://vegas.jaysalvat.com/

Caption Hover Effects
http://tympanus.net/codrops/2013/06/18/caption-hover-effects/
-->
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/css/animate.min.css">
	<link rel="stylesheet" href="/static/css/font-awesome.min.css">
  	<link rel="stylesheet" href="/static/css/component.css">
	
    <link rel="stylesheet" href="/static/css/owl.theme.css">
	<link rel="stylesheet" href="/static/css/owl.carousel.css">
	<link rel="stylesheet" href="/static/css/vegas.min.css">
	<link rel="stylesheet" href="/static/css/style.css">
	
	<link rel="stylesheet" href="/static/css/listTable.css">
	<!-- Google web font  -->
	<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,300' rel='stylesheet' type='text/css'>
	
</head>
<body id="top" data-spy="scroll" data-offset="50" data-target=".navbar-collapse">


<!-- Preloader section -->

<div class="preloader">
     <div class="sk-spinner sk-spinner-pulse"></div>
</div>


<!-- Navigation section  -->

  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">

      <div class="navbar-header">
        <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon icon-bar"></span>
          <span class="icon icon-bar"></span>
          <span class="icon icon-bar"></span>
        </button>
        <a href="/" class="navbar-brand smoothScroll">TripSync</a>
      </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#top" class="smoothScroll"><span>Home</span></a></li>
            <li><a href="#about" class="smoothScroll"><span>About</span></a></li>
            <li><a href="/employee/employeeList"><span>Employee</span></a></li>
            <li><a href="/member/memberList"><span>Member</span></a></li>
          </ul>
       </div>

    </div>
  </div>



<!-- About section -->

<section id="about">
  <div class="container">
    <div class="row">
	  <h1>employeeList</h1>
	  <p>직원가입은<a href="/employee/employeeRegist" target="_blank">employeeRegist</a>에서</p>
		<table id="rwd-table">
		  <thead>
		    <tr>
		      <th>Heading Col 1</th>
		      <th>Heading Col 2</th>
		      <th>Heading Col 3</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <td>Data Col 1a</td>
		      <td>Data Col 2a</td>
		      <td>Data Col 3a</td>
		    </tr>
		  </tbody>
		</table>
    </div>
  </div>
</section>






<!-- Footer section -->

<footer>
	<div class="container">
    
		<div class="row">

			<div class="col-md-12 col-sm-12">
            
                <ul class="social-icon"> 
                    <li><a href="#" class="fa fa-facebook wow fadeInUp" data-wow-delay="0.2s"></a></li>
                    <li><a href="#" class="fa fa-twitter wow fadeInUp" data-wow-delay="0.4s"></a></li>
                    <li><a href="#" class="fa fa-linkedin wow fadeInUp" data-wow-delay="0.6s"></a></li>
                    <li><a href="#" class="fa fa-instagram wow fadeInUp" data-wow-delay="0.8s"></a></li>
                    <li><a href="#" class="fa fa-google-plus wow fadeInUp" data-wow-delay="1.0s"></a></li>
                </ul>

				<p class="wow fadeInUp"  data-wow-delay="1s" >Copyright &copy; 2016 Snapshot Studio | 
                Design: <a href="https://plus.google.com/+templatemo" title="free css templates" target="_blank">Templatemo</a></p>
                
			</div>
			
		</div>
        
	</div>
</footer>

<!-- Back top -->
<a href="#" class="go-top"><i class="fa fa-angle-up"></i></a>

<!-- Javascript  -->
<script src="/static/js/jquery.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/vegas.min.js"></script>
<script src="/static/js/modernizr.custom.js"></script>
<script src="/static/js/toucheffects.js"></script>
<script src="/static/js/owl.carousel.min.js"></script>
<script src="/static/js/smoothscroll.js"></script>
<script src="/static/js/wow.min.js"></script>
<script src="/static/js/custom.js"></script>

</body>
</html>